{% extends "dodsbo/base.html" %}
{% load static %}

{% block content %}
<div class="home-content">
</div>
{% if user.is_authenticated %}
<h2 class="home-title">Dette er hjemmesiden!</h2>
<p class="home-description"> Denne nettsiden, Røddi, hjelper etterlatte familier med å fordele dødsbo. I hvert dødsbo vises alle gjenstandene som skal fordeles. De etterlatte kan velge om de ønsker at en gjenstand skal kastes, doneres eller beholdes. I tillegg har de muligheten til å markere de gjenstandene de har mest lyst på ved å trykke på «en knapp». For at familien enklere skal fordele gjenstandene mellom seg, kan de legge inn kommentarer på gjenstandene. </p>
{% else %}
<h2 class="home-title">Velkommen til Røddi!<br> <br> Logg inn eller registrer deg</h2>
{% endif %}
{% endblock content %}