{% extends "dodsbo/base.html" %}

{% block content %}
<div class="asset-grid">
    {% for asset in assets %}
        <div class="asset">
            <div class="asset-header">
                <h3 class="asset-header-title">{{ asset.title }}</h3>
                <h3 class="asset-header-value">NOK: {{ asset.value }}</h3>
            </div>
            <div class="asset-description">
                <p>{{ asset.description }}</p>
            </div>
            <div class="asset-vote-panel">
                <div class="asset-vote-button asset-vote-share">
                    <h5>{{ asset.votes.discard }}</h5>
                    <h4>Fordel</h4>
                </div>
                <div class="asset-vote-button asset-vote-donate">
                    <h5>{{ asset.votes.donate }}</h5>
                    <h4>Doner</h4>
                </div>
                <div class="asset-vote-button asset-vote-discard">
                    <h5>{{ asset.votes.discard }}</h5>
                    <h4>Kast</h4>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}