{% extends "dodsbo/base.html" %}

{% block content %}
    <h1> Infosiden til Røddi</h1>
    <p class="text">Denne nettsiden, Røddi, hjelper etterlatte familier med å fordele dødsbo. I hvert dødsbo vises alle gjenstandene som skal fordeles. De etterlatte kan velge om de ønsker at en gjenstand skal kastes, doneres eller beholdes. I tillegg har de muligheten til å markere de gjenstandene de har mest lyst på ved å trykke på «en knapp». For at familien enklere skal fordele gjenstandene mellom seg, kan de legge inn kommentarer på gjenstandene . </p>
    &nbsp;&nbsp;
    <h3 class="text">Opprette dødsbo</h3>
    <p class="text">For å opprette et dødsbo må du trykke på admin-linken for å komme til django administration. Der trykker du på «add estate», setter navn på dødsboet og trykker på «save». </p>
    &nbsp;&nbsp;
    <h3 class="text">Opprette eiendel</h3>
    <p class="text">For å opprette en eiendel, så må du først være inne i django administration siden. Her trykker du på «add item» og legger inn informasjon om hvilket dødsbo det skal tilhøre.</p>
    &nbsp;&nbsp;
    <h3 class="text">Invitere brukere til et dødsbo</h3>
    <p class="text">For å legge inn brukere i et dødsbo, så trykker man på «participates» og så «add participates». Der velger du hvilket dødsbo og hvilken bruker du vil legge til i det dødsboet. For å legge til flere, må man gjenta operasjonen flere ganger.</p>
    &nbsp;&nbsp;
    <h3 class="text">Slette brukere fra et dødsbo</h3>
    <p class="text">For å slette en bruker fra et dødsbo, så må du trykke på «participates». Der får du opp en liste med alle deltakere til ulike dødsbo. Finn riktig kobling, og trykk på søppelkassen for å slette.</p>
    &nbsp;&nbsp;
    <h3 class="text">Administrere kommentarer</h3>
    <p class="text">For hver kommentar kan du som administrator godkjenne denne før den legges ut på nettsiden.</p>
    &nbsp;&nbsp;
    <h3 class="text">Gi varsel om å fullføre oppgjøret</h3>
    <p class="text">-sett inn-</p>
    &nbsp;&nbsp;
    <h3 class="text">Statistikk</h3>



{% endblock content %}