/* Asset */
.asset-grid {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
  }
  .asset {
    border-radius: 8px;
    background-color: #fffdf6;
    min-height: 400px;
    min-width: 350px;
    max-width: 350px;
    max-height: 400px;
    margin: 20px;
    padding: 0;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  }
  .asset a:link{
    color: #4b4b4b;
  }
  .asset-header {
    background-color: #fcf8e8;
    margin: 0;
    border-radius: 10px 10px 0px 0px;
    -webkit-box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    padding: 7px;
    display: flex;
    justify-content: space-between;
  }
  .asset-header-title {
    font-size: 2em;
    font-weight: 400;
    margin: 0;
  }
  .asset-header-value{
    margin: 0;
    font-weight: 300;
  }
  .asset-header-favorite{
    display: flex;
  }
  .asset-header-favorite form {
    align-self: center;
    display: flex;
    align-content: center;
  }
  .asset-header-favorite button, input[type="submit"]{
    align-self: center;
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;
  }
  .asset-description {
    padding: 10px;
    flex: 4;
    overflow-y: auto;
  }
  .asset-bottom-part{
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    height: 150px;
  }
  .asset-messages{
    display: flex;
    background-color: #FCFCFC;
    padding: 5px;
    transition: 0.3s;
    position: relative;
    border-bottom: solid 1px #c7c7c7;
    height: 80px;
  }
  .asset-messages:hover{
    background-color: #E9E9E9;
    transition: 0.3s;
  }
  .asset-messages h5{
    margin: 0;
    height: fit-content;
    align-self: center;
    margin-left: 5%;
  }
  .comment-section{
    display: flex;
    justify-content: center;
    align-self: center;
    height: 50%;
  }
  .comment-arrow{
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translate(0%, -50%);
    display: flex;
    align-content: center;
  }
  .asset-vote-panel {
    flex: 2;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    height: 30%;
    display: flex;
    align-self: flex-end;
    background-color: #fcfcfc;
    position: relative;
    bottom: 0;
  }
  .asset-vote-button {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
  }
  .asset-vote-discard {
    display: flex;
    border-radius: 0px 0px 8px 0px;
  }
  .asset-vote-share {
    border-radius: 0px 0px 0px 8px;
  }
  .asset-vote-count {
    position: absolute;
    bottom: 5%;
    right: 5%;
  }