/* General */
* {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
.main-content{
  width: 100vw;
  height: calc(100vh - 120px);
  position: relative;
  overflow-y: scroll;
}
.blank-form{
  background-color: none;
}
/* Home */
.home-content{
  background: url(/static/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: blur(10px);
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.home-title{
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 60px;
  transform: translate(-50%,-50%);
  font-family: "Josefin Slab";
  text-align: center;
}
.home-description{
  position: absolute;
  left: 50%;
  top: 75%;
  transform: translate(-50%,-50%);
  font-size: 30px;
  font-family: "Josefin Slab";
  text-align: center;
  width: 900px;
}
.home-content img{
  filter: grayscale(100%);
  filter: blur(8px);
  background-size: cover;
}
/*Header*/
.header {
  position: relative;
  width: 100%;
  background-color: #d4e2d4;
  min-height: 120px;
  max-height: 120px;
  max-width: 100vw;
  display: flex;
  align-items: center;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.25);
  z-index: 1000;
}
.header-user-nav {
  display: flex;
  height: 100%;
  width: 250px;
  align-items: center;
}
.header-items {
  position: absolute;
  right: 20px;
  top: 50%;
}
.header-nav-text {
  display: flex;
  margin-left: 20px;
  font-weight: 400;
  color: #4b4b4b;
}
.header-nav-text:hover {
  color: #df7861;
  cursor: pointer;
}
.header-estate-nav {
  display: flex;
  height: 100%;
  width: 200px;
  right: 0;
  position: absolute;
  right: 0%;
  top: 0%;
  transform: translate(0, 50%);
}
#profile-icon:hover svg {
  fill: #fcf8e8;
  cursor: pointer;
}
#profile-container {
  width: 70px;
}
#logo {
  font-family: "Josefin Slab";
  font-size: 3em;
  color: #4b4b4b;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
#logo:hover {
  color: #df7861;
  cursor: pointer;
}

/* Asset */
.asset-grid {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}
.asset {
  border-radius: 8px;
  background-color: #fffdf6;
  min-height: 400px;
  min-width: 350px;
  max-width: 350px;
  max-height: 400px;
  margin: 20px;
  padding: 0;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}
.asset a:link{
  color: #4b4b4b;
}
.asset-header {
  background-color: #fcf8e8;
  margin: 0;
  border-radius: 10px 10px 0px 0px;
  -webkit-box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  padding: 7px;
  display: flex;
  justify-content: space-between;
  flex: 1;
}
.asset-header-title {
  font-size: 2em;
  font-weight: 400;
  margin: 0;
}
.asset-header-value{
  margin: 0;
  font-weight: 300;
}
.asset-header-favorite{
  display: flex;
}
.asset-header-favorite form {
  align-self: center;
  display: flex;
  align-content: center;
}
.asset-header-favorite button, input[type="submit"]{
  align-self: center;
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.asset-description {
  padding: 10px;
  flex: 4;
  overflow-y: auto;
}
.asset-bottom-part{
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  height: 150px;
}
.asset-messages{
  display: flex;
  background-color: #FCFCFC;
  padding: 5px;
  transition: 0.3s;
  position: relative;
  border-bottom: solid 1px #c7c7c7;
}
.asset-messages:hover{
  background-color: #E9E9E9;
  transition: 0.3s;
}
.asset-messages h5{
  margin: 0;
  height: fit-content;
  align-self: center;
  margin-left: 5%;
}
.comment-section{
  display: flex;
  justify-content: center;
  align-self: center;
  height: 50%;
}
.comment-arrow{
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translate(0%, -50%);
  display: flex;
  align-content: center;
}
.asset-vote-panel {
  flex: 2;
  width: 100%;
  border-radius: 0px 0px 10px 10px;
  height: 30%;
  display: flex;
  align-self: flex-end;
  background-color: #fcfcfc;
  position: relative;
  bottom: 0;
}
.asset-vote-button {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
.asset-vote-discard {
  display: flex;
  border-radius: 0px 0px 8px 0px;
}
.asset-vote-share {
  border-radius: 0px 0px 0px 8px;
}
.asset-vote-count {
  position: absolute;
  bottom: 5%;
  right: 5%;
}

/* Profile */
.profile-content {
  position: relative;
  display: flex;
  z-index: 0;
  height: 100%;
}
.profile-info-bar {
  position: relative;
  flex: 1;
  background-color: #efefef;
  width: fit-content;
  z-index: 900;
  -webkit-box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  height: 100%;
}
.profile-userinfo {
  padding: 0px 15px 0px 15px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  border-bottom: solid 1px #c7c7c7;
  vertical-align: baseline;
}
.profile-userinfo h2 {
  height: fit-content;
  text-align: center;
  font-weight: 400;
}
.estate-list{
  z-index: 800;
  flex: 3;
  height: 100%;
  overflow-y: auto;
}
.estate-list-header{
  padding: 20px 0px 0px 20px;
}
.estate{
  background-color: #FCF8E8;
  margin: 20px;
  max-width: 750px;
  min-width: 100px;
  padding: 20px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  height: 350px;
}
.estate-list a:link{
  text-decoration: none;
  color: black;
}
.estate:hover{
  -webkit-box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
  background-color:#f5eed1 ;
  cursor: pointer;
}
.estate-header{
  height: 50px;
}
.estate-members{
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid black;
}
.estate-members-container{
  display: flex;
}
.estate-member{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 25px;
}

.estate-member-name{
  font-size: 1em;
  font-weight: 200;
  text-align: center;
}
.estate-members-title{
  margin-bottom: 10px;
}
.profile-estate-list {
  z-index: 800;
  flex: 3;
  overflow-y: auto;
}
.profile-admin {
  background-color: #DF7861;
  font-size: large;
  padding: 5px;
  border-radius: 6px;
  color: rgb(0, 0, 0);
}
.profile-admin:hover {
  -webkit-box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}
/* Comments */
.comments-container{
  height:fit-content;
  padding: 20px;
  max-width: 900px;
  margin-bottom: 100px;
  color: #4b4b4b;
}
.comment{
  background-color: #F5FBFF;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  width: 500px;
  height: auto;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  max-width: calc(100vw - 50px);
}
.comment-info{
  border-bottom: 2px solid rgb(233, 233, 233);
  margin-bottom: 10px;
}
.comment-author{
  margin-bottom: 2px;
}
.comment-time{
  font-weight: 200;
}

.add-comment-btn{
  position: fixed;
  bottom: 0;
  right: 20px;
  fill: #F5FBFF;
  transition: 0.3s;
}
.add-comment-btn:hover{
  transition: 0.3s;
  fill: #DAF0FE;
}


/*Bootstrap override*/
.container{
  max-width: 500px;
  margin-top: 50px;
}
.content-section{
  background-color: white;
  padding: 20px;
  background-color: #fbfbfb;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-bottom: 100px;
}

/* Logout */
.logout-section{
  background-color: white;
  padding: 20px;
  background-color: #fbfbfb;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
}
.logout-icon{
  align-self: center;
}
