{% extends "dodsbo/base.html" %}
{% block content %}
<div class="comments-container">
    <h1>{{ name }}</h1>
    {% if comments|length == 0 %}
    <h2>Ingen kommentarer å vise</h2>
    {% else %}
    <h2 class="comments-title">Kommentarer</h2>
    {% for comment in comments %}
    <strong>
        {{ comment.name }} -
        {{ comment.date_added }}
    </strong>
    {{ comment.body }}
    <hr>
    {% endfor %}
    {% endif %}
    <a href="add_comment">Legg til kommentar</a>
</div>
{% endblock %}