{% extends "dodsbo/base.html" %}
{% block content %}
    {% for c in comments %}
    <h1>{{ c.item_name }}</h1>
    {% endfor %}
   {% if comments|length == 0  %}
       <h2>Ingen kommentarer å vise</h2>
    {% else %}
       <h2>Kommentarer</h2>
        {% for c in comments %}
            <strong>
            {{ c.name }} -
            {{ c.date_added }}
            </strong>
            <br/>
            {{ c.body }}
            <br/>
            <hr>
        {% endfor %}
    {% endif %}
    <br/>
    <a href="add_comment">Legg til kommentar</a>
{% endblock %}